{% extends "webpage.html"%} {% block content %}
    
    <div class="quotearea">
        <h1 id="quote"><b>Small Effort<br>Make A Big Change</b></h1>
        <p>Khidmat, located in the heart of Hyderabad, is a charitable
            foundation dedicated to helping those in need. With the dedication of
            our volunteers and partners, we strive to improve the
            lives of everyone who needs help within the community. </p>
        <h2>Contact us to see what you can do to bring about positive change.</h2>
        <a href="" class="btn">Explore Now &#8594</a>
            <img src="" alt="">
            <img src="" alt="">
        </div>		
{% endblock %}